@import "../variables";
.search{
  form{
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap:0.5rem;
    input{
      width:100%;
      font-size:1.3rem;
      color:white;
      padding:0.5rem;
    }
  }
  &__spinner{
    height:3rem;
  }
}
